/* https://materializecss.com/text-inputs.html */

/* label color */
.input-field label {
  /* grey */
  color: #9e9e9e;
}
/* label focus color */
.input-field input[type='text']:focus + label {
  /* green accent-3 */
  color: #00e676;
}
/* label underline focus color */
.input-field input[type='text']:focus {
  /* green accent-3 */
  border-bottom: 1px solid #00e676;
  /* grey */
  box-shadow: 0 1px 0 0 #9e9e9e;
}
/* valid color */
.input-field input[type='text'].valid {
  /* light-green */
  /* border-bottom: 1px solid #76ff03; */
  /* green accent-3 */
  border-bottom: 1px solid #00e676;
  /* grey */
  box-shadow: 0 1px 0 0 #9e9e9e;
}
/* invalid color */
.input-field input[type='text'].invalid {
  /* deep-orange accent-3 */
  border-bottom: 1px solid #ff3d00;
  /* grey */
  box-shadow: 0 1px 0 0 #9e9e9e;
}
/* icon prefix focus color */
.input-field .prefix.active {
  /* green accent-3 */
  color: #00e676;
}
